<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<h1>All Events</h1>

<!--<ul>-->
<!--    <th:block th:each="event : ${events}">-->
<!--        <li th:text="${event}"></li>-->
<!--    </th:block>-->
<!--</ul>-->

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <th:block th:each="event : ${events}">
        <tr>
        <td th:text="${event.key}">Whats</td>
        <td th:text="${event.value}">Up</td>
        </tr>
    </th:block>
</table>

</body>
</html>
